<?xml version="1.0" ?>
<model> 
	<name>NUS EA Field Ground Plane</name> 
	<version>1.0</version> 
	<sdf version="1.8">model.sdf</sdf>
	
	<author>
		<name>Oliver</name>
		<email>user@nus.edu.sg</email>
	</author>

	<description>
		Ground plane model for NUS EA Field courtyard.
	</description>
</model>
