<?xml version="1.0"?>
<model>
  <name>runway_person</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Hilbert Soh</name>
    <email>hilbertsoh@gmail.com</email>
  </author>
  <description>Standing person for obstacle avoidance testing</description>
</model>
